@charset "UTF-8";

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: darkcyan;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

header {
  font-size: 20px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: lightgray;
  border-radius: 10px;
  padding: 30px;
  width: 500px;
  height: auto;
  margin: auto;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.431);
  color: black;
  font-size: 20px;

}

#botão {
  width: 100px;
  height: 30px;
  font-size: 17px;
  font-weight: bold;

}

#resultado {
  text-align: center;
  font-weight: bold;
}

#foto {
  width: 400px;
  height: 400px;
  border-radius: 50px;
}


footer {
    font-style: italic;
}
