@charset "UTF-8";

body {
  display: flex;
  flex-direction: column;


  background-color: darkcyan;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

header {
  font-size: 20px;
  text-align: center;
}

section {
  background-color: lightgray;
  border-radius: 10px;
  padding: 30px;
  width: 500px;
  height: auto;
  margin: auto;

  display: flex;
  justify-content: left;
  flex-direction: column;

  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.431);
  color: black;
}

.numcontar {
  display: flex;
  justify-content: left;
  margin-bottom: 100px;

}

.numcontar input {
  width: 100px;
  margin-left: 10px;

}

#contbtn {
  height: 50px;
  width: 50px;
}

footer {
    font-style: italic;
    text-align: center;
}
